body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {

}

header li {
    display: inline;
}

nav {
    list-style-type: none;
    /* display: inline; */
}

section {
    display: flex;
    flex-wrap: wrap;
}

#contact li {
    display: inline;
}

main {

}

aside {
    
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 200%;
    padding: 10px;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Water Brush', cursive; */
    font-weight: bold;
    font-size: 150%;
    padding: 10px;
}

hr {
    margin: 0 auto;
}