/* These are the theme colors I will use often in the design. */
:root {
    --light-pink: #EDCED6;
    --dark-pink: #E6999F;
    --light-green: #93CCB3;
    --dark-green: #7DAF93;
    --light-purp: #DDD2F4;
    --dark-purp: #C3A6DC;
    --light-yell: #EDB383;
    --dark-yell: #E88555;
}

/* This property is applied to the entire HTML document and ensures that all child containers are constrained inside of their parent containers. */
* {
    box-sizing: border-box;
}

/* This allowed my sticky header to stay in place and not overlap headers while scrolling/linking. */
html {
    scroll-padding-top: 74px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* display: flex;
    flex-wrap: wrap; */
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* header {
    display: flex;
} */


/* NAVIGATION */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

/* NAVIGATION > LINKS */
nav a, footer a {
    color: #fff;
}

nav a:hover, footer a:hover {
    font-weight: bold;
    color: #000;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

nav a:active, footer a:active {
    font-weight: bold;
    color: #000;
    background-color: var(--light-purp);
    font-family: 'Courier New', Courier, monospace;
}

/* This section allows both the h1 and nav links stay on the same line on desktop. */
/* It also keeps the navigation stuck while scrolling. */
.navigation {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--dark-yell);
    width: 100%;
    min-height: 74px;
    top: 0;
    z-index: 1;
}

nav a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
}

/* HERO IMAGE */
.hero-image {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    background-image: url("../images/pink-computer-hero.jpg");
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    /* width: auto; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: relative; */
    /* top: 74px; */
}

section.hero-image img {
    height: auto;
    width: 100%;
}

/* HERO IMAGE TAGLINE */
div.hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-57%, 110%);
    /* color: #fff; */
    font-size: 1.50vw;
    line-height: 1.25;
}

/* MAIN */
main {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 200px;
    margin: 10px 1%;
    padding: 10px;
    line-height: 1.5;
    list-style: circle;
}

main ul {
    list-style-type: circle;
    margin-left: 3%;
}

main h2 {
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    border-radius: 15px;
}

#img-circle {
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

/* The code below updates the sections inside of main. */

/* ABOUT SECTION */
#about {
    margin-top: 10px;
}

#about h2 {
    background-image: linear-gradient(to right, #7DAF93, #fff);
}

#about img {
    width: 30vw;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--dark-green);
    margin: 10px;
    float: right;
}

/* WORK SECTION */
#work {
    /* This property centers all content in the work ID. */
    justify-content: center;
}

#work h2 {
    background-image: linear-gradient(to right, #C3A6DC, #fff);
}

#work h3 {
    color: #000;
    background-color: rgb(221, 210, 244, 0.8);
    padding: 10px;
    border-radius: 15px;
}

/* This container holds all .flex-box items. */
/* Trying to get this to create a border around the divs in the flex-box class. */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 10em;
    border: var(--dark-purp) 5px solid;
    border-radius: 15px;
    margin: 1vw;
    /* padding: 1vw; */
    box-sizing: border-box;
}

.flex-container:hover {
    border: var(--dark-yell) 5px solid;
}

.flex-container:active {
    border: var(--dark-pink) 5px solid;
}

/* WORK SECTION > PROJECT 1 */
.flex-1 {
    display: flex;
    background-image: url("../../assets/images/homework-1.png");
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    width: 100%;
}

div.proj-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* margin: 10px 10px; */
    /* width: 100%; */
}

/* WORK SECTION > PROJECT 2 & 3 */
.flex-2 {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    align-items: flex-end;
    background-image: url("../../assets/images/homework-2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    margin: 10px;
}

/* WORK SECTION > PROJECT 3 */
.flex-3 {
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row; */
    align-items: flex-end;
    background-image: url("../../assets/images/pattern.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    margin: 10px;
}

/* WORK SECTION > PROJECT 4 */
.flex-4 {
    /* display: flex;
    justify-content: flex-start; */
    align-items: flex-end;
    background-image: url("../../assets/images/pattern.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    margin: 10px;
}

/* WORK SECTION > PROJECT 5 */
.flex-5 {
    /* display: flex;
    justify-content: flex-start; */
    align-items: flex-end;
    background-image: url("../../assets/images/pattern.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    margin: 10px;
}

/* CONTACT SECTION */
/* #contact {
    display: block;
} */

#contact h2 {
    /* display: inline; */
    background-image: linear-gradient(to right, #E6999F, #fff);
}

.contact-circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.contact-circles img {
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
}

#phone {
    border: 2px var(--dark-pink) solid;
}

#email {
    border: 2px var(--dark-green) solid;
}

#linked-in {
    border: 2px var(--dark-purp) solid;
}

#github {
    border: 2px var(--dark-yell) solid;
}

#dev-art {
    border: 2px var(--dark-pink) solid;
}


/* RESUME SECTION */
#resume h2 {
    background-image: linear-gradient(to right, #E88555, #fff);
}

/* General Body Elements */
p {
    padding: 10px;
    margin: 5px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    display: block;
    font-weight: bold;
    font-size: 300%;
    padding: 10px;
}

h1 a {
    text-decoration: none;
    line-height: 1.5;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 150%;
    padding: 10px;
}

hr {
    margin: 15px auto;
    border-top: 1px dotted var(--dark-yell);
    width: 100%;
}

footer {
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: var(--dark-yell);
    padding: 10px;
}

/* For responsiveness on different screen sizes. */
/* @media screen and (max-width: 825px) {
    section #hero-image {
        top: 132px;
    }
} */

/* @media screen and (max-width: 768px) {
    section #hero-image {
        display: none;
    }
    div #hero-text {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    section #hero-image {
        display: none;
    }
    div #hero-text {
        display: none;
    }
} */